alacritty
bspwm
Code
dconf
discord
discordcanary
dunst
geany
goa-1.0
gtk-3.0
Kvantum
leafpad
libfm
light
mimeapps.list
neofetch
networkmanager-dmenu
nitrogen
nvim
obmenu-generator
openbox
pcmanfm
picom.conf
plank
polybar
pulse
pyroom
qt5ct
ranger
rofi
sxhkd
test.txt
Thunar
user-dirs.dirs
user-dirs.locale
viewnior
xfce4
zentile
